{
    "$schema": "./env.schema.json",
    "ADMIN_PREFIX": "upvQzoCTaaYrTDP7",
    "CLOUDFLARE_TURNSTILE_SECRET_KEY": "1x0000000000000000000000000000000AA",
    "CLOUDFLARE_TURNSTILE_SITE_KEY": "1x00000000000000000000AA",
    "DB_DSN": "mysql:host=aura-mysql:3306;dbname=aura_db",
    "DB_PASS": "passw0rd",
    "DB_USER": "aura",
    "QIQ_CACHE_PATH": null,
    "SITE_URL": "http://localhost"
}
