{
    "$schema": "./env.schema.json",
    "BASE_URL": "http://localhost",
    "CLOUDFLARE_TURNSTILE_SECRET_KEY": "",
    "CLOUDFLARE_TURNSTILE_SITE_KEY": "",
    "DB_DSN": "mysql:host=aura-mysql:3306;dbname=aura_db",
    "DB_PASS": "passw0rd",
    "DB_USER": "aura",
    "QIQ_CACHE_PATH": null
}
